body
{
}
body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align to the top vertically */
    height: 100vh; /* Ensure body takes full viewport height */
}

canvas {
    display: block;
    background: #222;
    /* Make canvas fill the window */
    width: 98vw;
    height: 90vh;
    border: 1px solid #fff;
    box-shadow: 0 0 10px #000;
}
